In [3]:
import pandas as pd

In [6]:
df = pd.read_csv("server/data/actes-criminels.csv")

In [8]:
len(df)

244298

In [9]:
len(df) - len(df.dropna())

41425

In [10]:
df = df.dropna()

In [12]:
df.head()

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
0,Vol de véhicule à moteur,2018-09-13,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
1,Vol de véhicule à moteur,2018-04-30,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
2,Vol de véhicule à moteur,2018-09-01,nuit,7.0,290274.565000,5.042150e+06,-73.685928,45.519122
6,Méfait,2017-07-30,jour,38.0,297654.715002,5.041877e+06,-73.591457,45.516776
8,Vol dans / sur véhicule à moteur,2017-08-01,jour,39.0,294259.780993,5.051450e+06,-73.635117,45.602873

In [16]:
df["DATE"] = pd.to_datetime(df["DATE"])

In [14]:
df["QUART"].unique()

array(['jour', 'nuit', 'soir'], dtype=object)

In [15]:
df["CATEGORIE"].unique()

array(['Vol de véhicule à moteur', 'Méfait',
       'Vol dans / sur véhicule à moteur', 'Introduction',
       'Vols qualifiés', 'Infractions entrainant la mort'], dtype=object)

In [19]:
only_2022 = df[df["DATE"].dt.year >= 2022]

In [20]:
len(only_2022)

29098

In [22]:
len(only_2022[only_2022["DATE"].dt.month == 12])

2118

In [23]:
december_2022 = only_2022[only_2022["DATE"].dt.month == 12]

In [25]:
december_2022["CATEGORIE"].unique()

array(['Vol de véhicule à moteur', 'Introduction',
       'Vol dans / sur véhicule à moteur', 'Méfait', 'Vols qualifiés',
       'Infractions entrainant la mort'], dtype=object)

In [26]:
december_2022.to_csv("server/data/december_2022_crimes")

In [28]:
def get_crimes_by_field(column: str = None, value: str = None):
    eligible = df[df[column] == value]